# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore virtual environment and environment files
.env

# Ignore model and dataset files
*.pkl
*.h5
*.joblib

# Ignore large output models
outputs/models/

# Ignore raw data (since it's usually large and shouldn't be version-controlled)
data/raw/
